
  img {
    width: 100%;
    height: 200px; // ✅ Altura fija para mantener proporción
    object-fit: cover;
    border-radius: $border-radius-md;
    transition: transform $transition-base;
    box-shadow: $shadow-light;
    
    &:hover {
      transform: scale(1.05);
    }
  }

.skills-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-xl;
  
  @include respond-to-old(tablet-up) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include respond-to(desktop) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}